body {
    background-color: rgb(21, 21, 21);
}

._title {
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

._title-div {
    background-color: black;
    height: 70px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(11, 11, 11);
}

._div-2 {
    background-color: black;
    height: auto;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(11, 11, 11);
}

._div-2_p1 {
    color: white;
    padding: 20px;
    font-size: auto;
    font-family: Arial;
}
